.employee-id {
    width: auto;
    text-align: center;
}

.reviewer{
    text-align: center; 
    border-radius: 15px; 
    background-color: rgb(239, 122, 84);
    border-style: none; 
    padding: 5px;
    align-items: center; 
    opacity: 2;
    color: #FFFFFF;
}

.maker {
    text-align: center; 
    border-radius: 15px; 
    background-color: rgb(240, 240, 104);
    border-style: none; 
    padding: 5px;
    align-items: center; 
    opacity: 2;
}

.checker {
    text-align: center; 
    border-radius: 15px; 
    background-color: #E3F7DA;
    border-style: none; 
    padding: 5px;
    align-items: center; 
    opacity: 2;
}
.container {
    height: 100dvh;
    width:60dvw;
}