<div class="container">
     
  <h2>Teams & Roles > {{selectedTeam}}</h2>
  <div style="display: flex; ">
   <div style="display:flex;">
     <img src="../../../assets/people.png" height="80px" width="80px">
     <span style="display: inline-flex; flex-direction: column; ">
       Admin Name<br>Role<br>Location
     </span>
   </div>
   <div style="text-align: center; height: 50px; width: 50px; border-radius: 50%; background-color: aliceblue; font-weight: 600; font-size: x-large; margin-top: 10px; padding-top: 5px;">+</div>
  </div>
  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
     <thead>
       <tr>
         <th
           *ngFor="let column of listOfColumns; let i =index"
           [nzSortOrder]="column.sortOrder"
           [nzSortFn]="column.sortFn"
           [nzSortDirections]="column.sortDirections"
           [nzFilterMultiple]="column.filterMultiple"
           [nzFilters]="column.listOfFilter"
           [nzFilterFn]="column.filterFn"
           [class.employee-id] = "i==0"
         >
           {{ column.name }}
         </th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let data of filterTable.data ; let i = index"> <!-- listOfData -->
         <td class = "employee-id">{{ data.id }}</td>
         <td><img src="../../../assets/people.png" height="30px" width="30px"> {{ data.name | titlecase}}</td>
         <td>{{ data.email }}</td>
         <td style="position:relative;">
          <span nz-icon nzType="caret-down" nzTheme="outline" style="left: 0px; position: absolute; bottom:3.4dvh; font-size: large;"></span>
           <select (change)="onRoleChange($event,i)" [ngClass]="{ 'reviewer': data.role_id === roleName.indexOf('Reviwer')+2,'maker': data.role_id === roleName.indexOf('Maker')+2,'checker': data.role_id === roleName.indexOf('checker')+ 2 }">
             <option *ngFor="let role of roleName; let i = index" [value]="role!" [selected]="data.role_id === i+2">{{ role | titlecase }}</option>
            </select>
         </td>
       </tr>
     </tbody>
   </nz-table>
</div>