<!-- <div>
  <div>
    <div style="width: 5dvw;"> 
    <ul style="list-style-type: none; display: flex; flex-direction: column;">
      <li style="display: inline; padding: 5px"><img src="../../../assets/logo3d.png" height="80px" width="80px"> </li>
      <li style="display: inline; padding: 5px"><img src="../../../assets/dashboard_logo_96.png" height="80px" width="80px"> </li>
      <li style="display: inline; padding: 5px"><img src="../../../assets/team.png" height="80px" width="80px"> </li>
      <li style="display: inline; padding: 5px"><img src="../../../assets/people.png" height="80px" width="80px"> </li>
      <li style="display: inline; padding: 5px"><img src="../../../assets/workflow.png" height="80px" width="80px"> </li>
      <li style="display: inline; padding: 5px"><img src="../../../assets/signout.png" height="80px" width="80px"> </li>
    </ul>
  </div>
    <div style="height: 100px; width: 100px; background-color: aqua;"></div>
  </div>
  
</div> -->

<div style="display: flex; gap: 5px; align-items: center; justify-content: center;">
  <div style="width: 10dvw; height: 100dvh; background-color: azure;  display: flex; flex-direction: column; gap: 5px; align-items: center; justify-content: center;">
     <div style="width:90%;height: 15%; background-color: black;"></div>
     <div style="width:90%;height: 15%; background-color: rgb(233, 22, 22);"></div>
     <div style="width:90%;height: 15%; background-color: black;"></div>
     <div style="width:90%;height: 15%; background-color: rgb(190, 31, 31);"></div>
     <div style="width:90%;height: 15%; background-color: black;"></div>
     <div style="width:90%;height: 15%; background-color: rgb(197, 21, 21);"></div>
  </div>
  <div style="width: 50dvw; height: 80dvh; background-color: aqua; display: flex; flex-direction: column; gap: 5px;">
    <div style="width: 100%; height: 100%; background-color: red; display: flex; gap: 10px">
        <div style="width: 48%; height: 90%; background-color: yellow;"></div>
        <div style="width: 48%; height: 90%; background-color: green;"></div>
    </div>
    <div style="width: 100%; height: 90%; background-color: blue;"></div>
  </div>
  <div style="width: 40dvw; height: 80dvh; background-color: green; display: flex; flex-direction: column; gap: 5px">
    <div style="width: 100%; height: 40%; background-color: yellow;"></div>
    <div style="width: 100%; height: 20%; background-color: rgb(10, 10, 8);"></div>
    <div style="width: 100%; height: 20%; background-color: yellow;"></div>
    <div style="width: 100%; height: 18%; background-color: rgb(46, 46, 33);"></div>
  </div>

</div>