<div id="container">
    <div>
        <img src="../../assets/logo.png" alt="prime_logo">
        <h1>Prime Bank</h1>
    </div>
    <h2>Sign in</h2>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email: </label>
                <input type="email" id="email" formControlName="email">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" formControlName="password">
            </div>
            <button type="submit" id="signin-btn">Sign In</button>
        </form>
    </div>
</div>
