.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }

#container {
    background-color: #FFFDFD;
    margin: 2rem;
    display: flex;
    gap: 2dvw;
    /* right: 40dvw; */
}

.role-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.role {
    display: flex;
    /* justify-content: space-around; */
    gap: 5dvw;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px rgb(219, 217, 217);
    height: 7dvh;
    width: 85dvw;
    padding: 10px;
}   

.heading {
    display: flex;
    gap: 10dvw;
    background-color: #FFFFFF;
    font-size: large;
    font-weight: 400;
    height: 7dvh;
    width: 85dvw;
    padding: 10px;
    /* text-align: center; */
}

#add-role-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #DFDFEF;
    /* color: #FFFFFF; */
    font-size: large;
    margin-left: 50%;
}

.drawer-disable {
    position: fixed;
    top: 10dvh;
    right: -30dvw;
    width: 30dvw;
    height: 80dvh;
    background-color: #e0d7d7;
    transition: right 0.7s ease; 
    z-index: 999; 
  }

  .drawer-enable {
    position: fixed;
    top: 7dvh;
    right: 0dvw;
    width: 30dvw;
    height: 95dvh;
    background-color: #e0d7d7;
    transition: right 0.5s ease; 
    z-index: 999; 
    border-radius: 10px 0px 0px 10px;
  }

  input,select{
    height: 7dvh;
    width: 95%;
    margin: 10px;
    padding: 10px;
    border-style: none;
    background-color: #F5F5F5;
    border-bottom: 2px solid #6a6262;
    border-radius: 5px;
}

textarea {
    overflow: hidden;
    resize: none;
    height: 15dvh;
    width: 95%;
    margin: 10px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background-color: #F5F5F5;
    border-top: 2px solid #6a6262;
}

.btn {
    display: flex;
    gap: 50%;
    margin-left: 10px;
    padding: 10px;
}
