<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="wrapper">
      
    <ul class="sidebar" nz-menu nzMode="inline">

    <li
    nz-menu-item
    style="text-align: center; padding-top: 15px; padding-bottom: 5px;"
    >
      <img src="../../assets/logo.png" style="width: 60px; height: 60px;" alt="prime_logo"> 
      <!-- <span style="font-size: large; font-weight:800; margin-top: 0px;">PC</span> -->
    </li>
      <li
        nz-menu-item
        style="text-align: center; padding-top: 15px; padding-bottom: 5px;"
        (click)="dashboardClicked()"
      >
      <span nz-icon nzType="appstore" nzTheme="outline" style="font-size: xx-large;"></span><br>
         <span style="font-size: small; margin-top: 0px;">Dashboard</span>
      </li>
      <li
        nz-menu-item
        style="text-align: center; padding-top:15px;"
        (click)="teamClicked()"
      >
        <!-- <i class="fa-solid fa-users" style="font-size: xx-large;"></i><br> -->
        <span nz-icon nzType="usergroup-add" nzTheme="outline" style="font-size: xx-large;"></span><br>
        <span style="font-size: small; margin-top: 0px;">Teams & Roles</span>
      </li>
      <li
        nz-menu-item
        style="text-align: center; padding-top: 15px;"
      >
        <!-- <i class="fa-solid fa-user" style="font-size: xx-large;"></i><br> -->
        <span nz-icon nzType="user" nzTheme="outline" style="font-size: xx-large;"></span><br>
        <span style="font-size: small; margin-top: 0px;">People</span>
      </li>
      <li
        nz-menu-item
        style="text-align: center; padding-top: 15px; padding-bottom: 5px;"
      >
      <!-- <img src="../../../assets/workflow2.png" style="height: 5dvh; width: 5dvw; "><br> -->
      <span nz-icon nzType="apartment" nzTheme="outline" style="font-size: xx-large;"></span><br>
        <span>Workflow</span>
      </li>
      <li
        nz-menu-item
        style="left: 2.2dvw; padding-top: 15px; margin: 1rem; height: 6rem; width: 7rem; padding-bottom: 10px;"
      >
      <span nz-icon nzType="poweroff" nzTheme="outline" style="font-size: xx-large;"></span><br>
        <span style="font-size: small;">Sign Out</span>
      </li>
     
    </ul>
  </div>

<!-- <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected>nav 1</li>
        <li nz-menu-item>nav 2</li>
        <li nz-menu-item>nav 3</li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
            <ul>
              <li nz-menu-item nzSelected>option1</li>
              <li nz-menu-item>option2</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content>Content</nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout> -->
